<div class="container">
  <div class="input-group" style="text-align:center">
    <h3>Account Login</h3>
    <form action="/login" style="margin: 0px auto">
      <input type="text" name="email" class="form-control" placeholder="email" value="" required>
      <input type="password" name="password" class="form-control" placeholder="password" value="" required>
      <button class="btn btn-primary" type="submit" id="submit-button">送出</button>
    </form>
  </div>
</div>